version : '3.8'

services:
  nifi:
    image: apache/nifi:latest
    container_name: nifi
    ports:
      - "8443:8443" #Port for the Nifi Web UI
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_WEB_HTTPS_HOST=0.0.0.0
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin
    volumes:
      - nifi_conf:/opt/nifi/nifi_current/conf
      - nifi_logs:/opt/nifi/nifi_current/logs
      - nifi_data:/opt/nifi_nifi_current/database_repository
      - nifi_flowfile:/opt/nifi/nifi-current/flowfile_repository
      - nifi_content:/opt/nifi/nifi-current/content_repository
      - nifi_provenance:/opt/nifi/nifi-current/provenance_repository
    networks:
      - pipeline-network

volumes:
  nifi_conf
  nifi_logs
  nifi_flowfile
  nifi_content
  nifi_provenance

networks:
  pipeline-network:
    driver: bridge